body {
    font-family:monospace;
    font-size:large;
    line-height:1.5em;
}

h1 {
    font-family: sans-serif;
    font-size:2em;
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9, h10, h11, h12, h13, h14, h15 {
	font-weight:bold;
}

.d7 div {
    line-height:1em;
    margin-bottom:0;
}

div {
	margin:0 0 1em 1em;
}

.objectType, .docstring {
    display:inline;
}

.hi {
    background-color:lightgoldenrodyellow;
    padding:.2em;
    margin:-.2em;
}

.lo {
    color:#ccc;
}

.classobj{
    color:darkcyan;
}

.module{
    color:darkblue;
}

.instancemethod{
    color:darkmagenta;
}

.function{
    color:darkred;
}

.str{
    color:darkorange;
}

.method_descriptor{
    color:indigo;
}

.unspecified{
    color:darkviolet;
}

.type{
    color:gray;
}

.builtin_function_or_method{
    color:coral;
}