body {font-family: sans-serif;width:900px;margin:60px;line-height:1.3em;}
h1,h2,h3 {color:#333;margin-bottom:.3em;}
li {color:#999;margin-bottom:.5em;font-family:monaco,monospace;}
li strong {font-family: sans-serif;color:#333;}
p {color:#999;margin-top:0;}
.light {color:#ccc}
ul ul {margin:.4em 0;padding-left:1em;}
ul ul li {margin:0}