body {
    font-family:monospace;
    font-size:large;
    line-height:1.5em;
    margin:3em auto;
    padding:.5em;
    max-width:50em;
}

h1 {
    font-family: sans-serif;
    font-size:2em;
    text-transform: uppercase;
    margin-bottom:1em;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9, h10, h11, h12, h13, h14, h15 {
	font-weight:bold;
}

div {
	margin:0 0 1em 1em;
}

div.d1.wrapper {
  margin:0;
}

div.wrapper {
  margin:3em 0;
}

div.meta {
  margin:0 0 2em;
}

.objectType, .docstring {
    display:inline;
}

.hi {
    background-color:lightgoldenrodyellow;
    padding:.2em;
    margin:-.2em;
}

.lo {
    color:#ccc;
}

.meta {
  color:#999;
}

ul {
  margin-bottom:2em;  
  padding:2em;
  background-color:#f5f5f5;
}

/*
.classobj{
    color:darkcyan;
}
.module{
    color:darkblue;
}
.instancemethod{
    color:darkmagenta;
}
.function{
    color:darkred;
}
.str{
    color:darkorange;
}
.method_descriptor{
    color:indigo;
}
.unspecified{
    color:darkviolet;
}
.type{
    color:gray;
}
.builtin_function_or_method{
    color:coral;
}*/